.flex_container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    align-items: center;
}

.not_found_wrap {
    margin: auto;
    color: #000;
    text-align: center;
    width: 100%;
    max-width: 600px;
    padding: 200px 0 100px;
}

.not_found .cd-main-nav > ul > li > a { color: #333; }
header.not_found { box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
.not_found_wrap img {
    max-width: 400px;
    width: 100%;
    min-width: 200px;
}
.not_found_wrap h2, .not_found_wrap p {
    text-align: left;
}
.not_found_wrap h1 {
    margin: 40px 0 30px;
}
.not_found_wrap h2 {
    font-size: 30px;
    margin-bottom: 25px;
}

.not_found .call_nums {
    background: url(../img/icons/phone_orange.svg) no-repeat center center;
    background-size: 22px 22px;
}

/* =================== MEDIA =================== */

@media only screen and (max-width: 990px) {
    .not_found .cd-main-nav > ul > li > a { color: #FFFFFF; }
    .not_found .cd-main-nav {
        background: url(../img/icons/cd-icon-menu-orange.svg) no-repeat center center;
        background-size: 52px 52px;
    }
}

@media only screen and (max-width: 480px) {

    .not_found_wrap h2 {
        font-size: 22px;
    }

}

@media only screen and (max-width: 375px) {

    .not_found_wrap h2 {
        font-size: 18px;
    }

}