.about_us .desc p{
    font-size: 22px;
    line-height: 27px;
    color: #fff;
}
.about_us_desc {
    font-size: 18px;
    line-height: 22px;
}
.about_us_desc_top {
    padding-top: 40px;
}
.about_us_desc .few_years {
    padding: 20px 0;
}
.b-services {
    text-align: center;
}
.about_us_desc .clients {
    text-align: center;
    margin: 20px 0 50px;
}
.about_us_desc .our_team {
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin: 150px 0 65px;
}
.about_us_desc .our_team .team {
    width: 50%;
}
.about_us_desc .our_team .team .img {
    min-height: 79px;
    display: flex;
    align-items: flex-end;
}
.about_us_desc .our_team .team img {
    height: 79px;
    width: auto;
    display: block;
    margin: 0 auto;
}
.about_us_desc .our_team .team img.small {
    height: 50px;
}
.about_us_desc .our_team .team img.medium {
    height: 65px;
}
.about_us_desc .our_team .team.one {
    text-align: left;
}
.about_us_desc .our_team .team.two {
    text-align: right;
}
.about_us_desc .title,
.about_us_desc .our_team .title {
    font-size: 36px;
    line-height: 44px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.about_us_desc .our_team .people,.about_us_desc .our_team .projects {
    color: #8F8F8F;
    font-family: "Helvetica Neue", sans-serif;
}
.about_us_desc .our_team .team_item {
    display: inline-block;
    text-align: center;
    margin: 0 7px;
}
.about_us_desc .our_team .team_item .people {
    padding-top: 10px;
}
.team_item .orange_circle {
    width: 100%;
    height: 66px;
    display: block;
    margin: 20px auto;
    position: relative;
}
.team_item .orange_circle:after {
    content: '';
    position: absolute;
    width: 66px;
    height:66px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
    background: url('../img/logo_circle.jpg') 0 0 / 100% 100% no-repeat;
    z-index: 1;
}
.team_item .orange_circle.one:after {
    width: 20px;
    height: 20px;
}
.team_item .orange_circle.two:after {
    width: 34px;
    height: 34px;
}
.team_item .orange_circle.three:after {
    width: 66px;
    height: 66px;
}
.flex_container.line {
    position: relative;
}
.flex_container.line:after {
    content: '';
    width: 81%;
    height: 4px;
    border-bottom: 2px dashed orange;
    top: 50%;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}
.about_us_desc .dedicated_teams {
    margin: 50px 0;
}
.about_us_desc .dedicated_teams .item {
    width: 45%;
    display: flex;
    flex-flow: column wrap;
}
.about_us_desc .dedicated_teams .item img {
    margin: 20px auto;
}
.about_us_desc .dedicated_teams .item .title {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}
.about_us_desc .dedicated_teams .item img {
    display: block;
    margin: 40px auto 60px;
}
.about_us_desc .dedicated_teams .item.two img {
    display: block;
    margin: 40px auto 39px;
}
.geography {
    background-size: auto 100%;
    margin-bottom: 100px;
    padding: 50px 0;
    background: url(../img/AboutUs/Map.png) center no-repeat #f2f2f2;
}
.geography p:last-of-type {
    max-width: 400px;
}
.geography .title {
    font-size: 36px;
    font-weight: bold;
    line-height: 44px;
    margin-bottom: 20px;
    margin-top: 30px;
    text-transform: uppercase;
}
.geography .title.bottom {
    margin-top: 500px;
}
.our_clients_partners {
    margin-bottom: 70px;
}
.our_clients_partners .images {
    margin-top: 20px;
}
.our_clients_partners .images img {
    width: 100%;
}
.our_clients_partners .title {
    font-size: 36px;
    font-weight: bold;
    line-height: 44px;
    text-align: center;
    display: block;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.about_us_wondering .flex_container {
    justify-content: center;
}
.about_us_wondering .flex_container h4 {
    padding-right: 50px;
}
.about_us_wondering {
    margin-bottom: 70px;
}

.our_team.mobile {
    display: none;
}
.our_team.mobile ul {
    margin-left: 75px;
}
.our_team.mobile li {
    text-align: left;
    padding: 15px 0 40px 75px;
    position: relative;
    border-left: 3px dotted orange;
}
.our_team.mobile li:nth-child(1) {
    padding: 0 0 40px 75px;
}
.our_team.mobile li:nth-child(3) {
    border-left: none;
}
.our_team.mobile li .year {
    padding-bottom: 5px;
}
.our_team.mobile li img {
    margin-bottom: 5px;
}
.our_team.mobile li:before {
    content: '';
    position: absolute;
    left: -11px;
    width: 20px;
    height: 20px;
    background: url('../img/logo_circle.jpg') 0 0 / 100% 100% no-repeat;
    z-index: 1;
    border-radius: 50%;
    top: 0;
}
.our_team.mobile li:nth-child(2):before {
    width: 34px;
    height: 34px;
    left: -18px;
}
.our_team.mobile li:nth-child(3):before {
    width: 66px;
    height: 66px;
    left: -34px;
}
.desktop {
    display: block;
}
.mobile {
    display: none;
}
.width_50_percent {
    width: 50%;
}

@media screen and (max-width: 768px) {
    .cd-fixed-bg {
        min-height: 700px;
    }
    .width_50_percent {
        width: 100%;
    }
    .svg_icons_block .icon_block .title {
        font-size: 20px;
        font-weight: bold;
        line-height: 25px;
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .cd-fixed-bg.cd-bg-12 {
        background: url("../img/top_background_team.jpg") center no-repeat fixed;
        background-size: cover;
    }
    .svg_icons_block .icon_block {
        width: 65%;
        margin: 0 auto 50px;
    }
    .svg_icons_block .icon_block > div {
        max-width: 250px;
        margin: auto;
    }
    .about_us_desc .our_team .team.one {
        width: 100%;
    }
    .about_us_desc .our_team .team_item {
        width: 100%;
    }
    .our_team.mobile {
        display: block;
    }
    .our_team.desktop {
        display: none;
    }
    .about_us_desc .dedicated_teams .item {
        width: 100%;
    }
    .about_us_desc .dedicated_teams .item .desc {
        margin: 0 auto 50px;
    }
    .svg_icons_block {
        padding: 60px 0 50px;
    }
    .geography {
        background: none;
        margin: 0;
        padding: 0;
    }
    .geography:before {
        margin-bottom: 50px;
        padding: 50px 0;
        background: url(../img/AboutUs/Map.png) 65% no-repeat #f2f2f2;
        content: '';
        display: block;
        height: 500px;
        width: 100%;
        background-size: 200%;
    }
    .geography .title.bottom {
        margin-top: 30px;
    }
    .our_clients_partners {
        margin-top: 100px;
    }
    .our_clients_partners .title {
        text-align: left;
    }
    .about_us_wondering .flex_container {
        flex-flow: column wrap;
    }
    .about_us_wondering .flex_container h4 {
        padding-right: 0;
        font-size: 36px !important;
    }
}
@media screen and (max-width: 480px) {
    .geography:before {
        height: 350px;
        background-size: 230%;
    }
    .about_us_desc .dedicated_teams .item .desc {
        width: 100%;
    }
    .about_us_desc .dedicated_teams .item .title {
        font-size: 28px;
        font-weight: bold;
    }
    .about_us_desc .title.our_clients {
        text-align: left;
        margin-top: 30px;
    }
}
@media screen and (max-width: 414px) {
    .our_team.mobile ul {
        margin-left: 25px;
    }
    .about_us_desc .dedicated_teams .item img {
        margin: 30px auto 30px;
        width: 100%;
    }
}
@media screen and (max-width: 320px) {
    .svg_icons_block .icon_block .desc {
        font-size: 18px;
        line-height: 23px;
    }
    .our_team.mobile li {
        padding: 15px 0 40px 40px;
    }
    .about_us_desc .dedicated_teams .item .title {
        font-size: 22px;
    }
    .geography .title {
        font-size: 30px;

    }
}