.single_position_desc {

}
.single_position_desc ul {
    margin-bottom: 25px;
}
.single_position_desc ul li {
    font-size: 18px;
    line-height: 31px;
    position: relative;
    margin-left: 25px;
}
.single_position_desc .reply_form {

}
.single_position_desc .reply_form button {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    background: linear-gradient(218.14deg, #FFC902 0%, #FFA902 25.86%, #FE7000 72.65%, #FE5C00 100%);
    border-radius: 100px;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    width: 220px;
    padding: 10px;
}
.single_position_desc p {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 25px;
}
.single_position_desc .title {
    font-size: 24px;
    text-align: center;
    line-height: 29px;
    margin-top: 50px;
}
.single_position_desc .ul_title {
    font-size: 18px;
    line-height: 23px;
    margin: 50px 0 10px;
    font-weight: bold;
}
.single_position_desc ul li:before {
    content: '';
    width: 10px;
    height: 10px;
    background: orange;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: -25px;
}

@media screen and (max-width: 990px) {
    .single_position_desc ul li {
        line-height: 22px;
        margin: 15px 0 0 25px;
    }
    .single_position_desc .ul_title {
        margin: 35px 0 10px;
    }
    .single_position_desc .title {
        margin-top: 35px;
    }
}