body {
    font-family: 'Roboto', sans-serif;
}

.careers_top_desc p {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin: 46px 0 50px;
}

.careers_vacancies_list ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
}

.careers_vacancies_list ul li {
    transition: all 0.1s ease;
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    padding: 20px 0;
    box-shadow: 0 0 10px #dcdcdc;
    margin-bottom: 10px;
}
.careers_vacancies_list ul li:hover {
    box-shadow: 0 0 10px #bbbbbb;
}
.careers_vacancies_list ul li img {
    height: 50px;
    width: auto;
    vertical-align: bottom;
}

.careers_vacancies_list ul li .lang {
    width: 55%;
    font-size: 24px;
    line-height: 29px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: center;
}
.careers_vacancies_list ul li .lang .img {
    width: 170px;
    text-align: center;
}

.careers_vacancies_list ul li .place {
    width: 45%;
    font-size: 20px;
    line-height: 24px;
    color: grey;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: center;
}

.careers_bottom_links {
    text-align: center;
    font-size: 18px;
    margin: 50px 0;
}
.careers_bottom_links p {
    line-height: 22px;
}

.careers_bottom_links a {
    color: #FF7A00;
}
.careers_vacancies_list ul li .lang_name {
    display: inline-block;
}
.careers_vacancies_list ul li .lang_name a {
    color: inherit;
}
.careers_vacancies_list ul li .team,
.careers_vacancies_list ul li .city {
    display: inline-block;
}

.cd-scrolling-bg.careers_page {
    box-shadow: 0 0 20px #a5a5a580;
}

@media screen and (max-width: 1024px) {
    .careers_vacancies_list ul li .lang {
        width: 60%;
    }
    .careers_vacancies_list ul li .place {
        width: 40%;
    }
}

@media screen and (max-width: 990px) {
    .careers_vacancies_list ul li .lang {
        width: 100%;
    }
    .careers_vacancies_list ul li .lang .img {
        width: 100%;
    }
    .careers_vacancies_list ul li .lang_name {
        width: 100%;
        text-align: center;
        margin: 15px 0;
    }
    .careers_vacancies_list ul li .place {
        width: 100%;
        display: block;
    }
    .careers_vacancies_list ul li .team, .careers_vacancies_list ul li .city {
        display: block;
        text-align: center;
    }
    .careers_bottom_links p {
        margin-bottom: 15px;
    }
}