.cd-header.black .cd-main-nav > ul > li > a { color: #333; }
.cd-header.black { box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
.all_news a {
    color: inherit;

}
section.all_new_top_slider {
    margin-top: 70px;
    background: url('../img/justice_league.jpg') no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    padding: 20px 0;
}
section.all_new_top_slider:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
}

.all_new_top_slider li {
    padding: 20px 50px;
}
.all_new_top_slider .lSAction > .lSPrev {
    transform: rotate(180deg);
    left: 0; }
.all_new_top_slider .lSAction > .lSNext { right: 0; }
.all_new_top_slider .lSAction > a {
    width: 20px;
    height: 25px;
    background: url('../img/icons/arrow-right_white.png') no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    opacity: 1;
}

.all_new_top_slider .topic_title {
    display: inline-block;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1px;
    padding: 9px 16px;
    border: 2px solid;
}
.all_new_top_slider .desc {
    font-size: 20px;
    line-height: 25px;
}
.all_new_top_slider .title {
    font-size: 36px;
    line-height: 44px;
    font-weight: bold;
    margin: 20px 0;
}
.tabs__content {
    display: none; /* по умолчанию прячем все блоки */
}
.tabs__content.active {
    display: block; /* по умолчанию показываем нужный блок */
}

ul.tabNavigation {
    list-style: none;
    margin:  50px 0 30px;
    padding: 0;
}

ul.tabNavigation li {
    display: inline;
}

ul.tabNavigation li a {
    color: #333;
    padding: 16px 35px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    line-height: 22px;
}

ul.tabNavigation li a.selected,
ul.tabNavigation li a.selected:hover {
    background: #FF7D00;
    color: #fff;

}

ul.tabNavigation li a:hover {
    background: #ccc;
    color: #000;
}

ul.tabNavigation li a:focus {
    outline: 0;
}

/*div.tabs div {*/
    /*padding: 5px;*/
    /*margin-top: 3px;*/
    /*border: 1px solid #FFF;*/
    /*background: #FFF;*/
/*}*/

div.tabs div h2 {
    margin-top: 0;
}


/* PAGINATION STYLING */
ul.pagination {
    text-align: center;
    padding-bottom: 44px;
}
ul.pagination li{
    display: inline-block;
}
li.page-item a {
    color: #9B9B9B;
    font-size: 20px;
    line-height: 25px;
    padding: 0 4px;
    font-weight: bold;
}
li.page-item.active a {
    color: #FF7D00;
}
li.page-item.last a {
    color: #333;
}

.news_prev {
    width: 32.5%;
    position: relative;
    margin-bottom: 50px;
    display: none;
}
.news_prev a {
    color: inherit;
}
.news_prev.visible {
    display: block;
}
.news_prev_img {
    width: 100%;
    height: 224px;
}

.news_prev .title {
    font-size: 20px;
    line-height: 25px;
    color: #FC6708;
    font-weight: bold;
    margin: 5px 0;
}
.news_prev .desc {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    color: #333;
    padding-bottom: 20px;
}

.news_prev .budgets .left,
.news_prev .budgets .right {
    display: inline-block;
    width: 49%;
    color: #8C8C8C;
    font-size: 13px;
    line-height: 15px;
}
.news_prev .budgets .left div,
.news_prev .budgets .right div {
    padding-bottom: 5px;
}
.news_prev .budgets .left div i,
.news_prev .budgets .right div i {
    color: #9b9b9b;
    font-size: 11px;
    margin-right: 10px;
    vertical-align: baseline;
}

@media only screen and (max-width: 990px) {
    ul.tabNavigation li a {
        padding: 10px 15px;
        font-size: 12px;
    }
    .news_prev {
        width: 49%;
    }
}
@media only screen and (max-width: 480px) {
    .news_prev {
        padding-bottom: 20px; }
    .news_prev .budgets .left, .news_prev .budgets .right {
        width: 45%;
        font-size: 13px;
        line-height: 15px;
    }
    .news_prev .title {
        line-height: 25px;
        font-size: 20px;
    }
    .news_prev .desc {
        padding-bottom: 15px;
        font-size: 18px;
        line-height: 22px;
    }

    .all_new_top_slider .title {
        font-size: 22px;}
    .all_new_top_slider .desc {
        font-size: 14px;}

    .news_prev {
        padding-bottom: 0;
        margin-bottom: 40px;
        width: 100%;
    }
}

@media only screen and (max-width: 414px) {

    .all_new_top_slider .title {
        font-size: 18px;
        line-height: 22px;
    }
    .all_new_top_slider .desc {
        font-size: 13px;
        line-height: 16px;
    }
    ul.tabNavigation li a {
        width: auto;
        text-align: center;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 10px;
    }
    .news_prev .desc {
        line-height: 17px;
    }
    .all_new_top_slider li {
        padding: 0;
    }

}

@media only screen and (max-width: 375px) {
    ul.tabNavigation li a {
        padding: 10px 8px;
    }
}


