body {
    font-family: 'Roboto', sans-serif;
}
.team_desc_top p {
    color: white;
    font-size: 22px;
    line-height: 27px;
}
.team_describe p {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.team_describe {
    margin: 41px 0 50px;
}
.team_members {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.team_member {
    width: 33%;
    text-align: center;
    margin-bottom: 90px;
}
.team_member .name {
    color: #4A4A4A;
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
    margin-bottom: 3px;
}
.team_member .position {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 26px;
}
.team_member .social i {
    font-size: 24px;
    margin-right: 10px;
    color: #000;
    transition: all 0.1s ease;
}
.team_member .social i:hover {
    transform: scale(1.5);
    color: #FF7D00;
}
.team_member_img {
    width: 266px;
    height: 263px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 0 auto 24px;
}
.wanna_be_in_team {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 0 0 45px;
    text-align: center;
}
.wanna_be_in_team > div {
    text-align: center !important;
}

@media screen and (max-width: 990px) {
    .team_member {
        width: 100%;
    }
}

@media screen and (max-width: 414px) {
    .team_member {
        width: 100%;
    }
    .our-team h1 {
        font-size: 40px;
        line-height: 49px;
    }
    .cd-fixed-bg.cd-bg-12.our-team {
        min-height: 700px;
    }
    .wanna_be_in_team h4 {
        font-size: 36px;
        line-height: 44px;
    }
}