/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.anim_logo{
	cursor: pointer;
}
.anim_logo:hover{
	-webkit-animation: swing 1s ease;
	animation: swing 1s ease;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}
.mini_sl{
	min-height: 520px !important;
}
.post_m_d_t p, .post_m_d_b p{
	font-size: 16px;
}
.post_m_d_b{
	margin: 40px 0 4em 0;
}
.post_s_d_b{
	margin: 40px 0 0 0;
}
.b-services.mb_dev{
	margin: 45px auto 0px!important;
}
.soft_dev_logo{
	margin: 40px auto 80px!important;
}
.b-services.mb_dev .s-icon{
	margin-bottom: 5px;
}
.b-services.mb_dev .col{
	padding: 0!important;
}
.post_mb_dev_rp p{
	font-size: 15px;
}
.post_mb_dev_rp p.pb{
	padding-bottom: 10px;
}
.mb_dev_rp{
	padding: 45px 0;
}
.mb_dev_rp h4{
	margin-bottom: 0;
}
.mb_dev_rp p.bold{
	font-family: "HelveticaNeueBold", sans-serif;
	font-size: 14px;
	margin:5px 0 10px 0;
}
.item_realised_proj{
	margin-top: 30px;
}
.item_realised_proj p{
	font-size: 16px;
}
.item_realised_proj .img_name_proj{
	margin-bottom: 10px;
	position: relative;
	width: 100%;
	height: 200px;
	background: #000;
	overflow: hidden;
	transition: all 0.3s;
}
.item_realised_proj .img_name_proj:hover img{
	-webkit-transform: scale(1.05);
  	transform: scale(1.05);
  	transition: all 0.3s;
  	opacity: 1;
}
.item_realised_proj .img_name_proj h5{
	position: relative;
	color: #fff;
	padding-top: 90px;
	font-size: 16px;
	z-index: 55;
}
.item_realised_proj .img_name_proj img{
	position: absolute;
	top:0; bottom: 0;
	left: 0; right: 0;
	width: 100%;
	transition: all 0.3s;
	opacity: .7;
}
.form_footer{
	margin-top: 10px;
}

.form_footer button{
	height: 48px;
	padding: 0 60px;
}

.cd-scrolling-bg.soft_dev_box strong{
	font-family: "HelveticaNeueBold", sans-serif;
}
.item_wrap_s_d{
	float: right;
	display: table;
}
.item_wrap_s_d_r{
	float: left;
	display: table;
}
.item_wrap_s_d span, .item_wrap_s_d_r .wrap_i_s_d, .item_wrap_s_d img{
	display: table-cell;
	vertical-align: middle;
}
.item_wrap_s_d_r span, .item_wrap_s_d_r .wrap_i_s_d_r, .item_wrap_s_d_r img{
	display: table-cell;
	vertical-align: middle;
}
.item_wrap_s_d span{
	font-size: 16px;
	line-height: 20px;
}
.item_wrap_s_d_r span{
	font-size: 16px;
	line-height: 20px;
}
.item_wrap_s_d .wrap_i_s_d{
	text-align: right;
	width: 100px;
}
.wrap_i_s_d_r{
	text-align: left;
	width: 100px;
}
.mask{
	position: absolute;
	left: 8px;
	right: 0;
	margin: 0 auto;
	display: block;
	background: url("../img/icons/soft_dev/mask.svg") no-repeat center center;
	width: 29px;
	height: 29px;
}
.mtb{
	margin: 70px 0 40px 0!important;
}
.mask.ps_1{
	top: 32px;
}
.mask.ps_2{
	top: 120px;
}
.mask.ps_3{
	top: 208px;
}
.mask.ps_4{
	top: 296px;
}
.mask.ps_5{
	top: 384px;
}
.mask.ps_6{
	top: 472px;
}
.mask.ps_7{
	top: 560px;
}
.item_wrap_s_d.lps_1{
	margin-top: 10px;
}
.item_wrap_s_d.lps_2{
	margin-top: 116px;
}
.item_wrap_s_d.lps_3{
	margin-top: 110px;
}
.item_wrap_s_d.lps_4{
	margin-top: 110px;
}
.item_wrap_s_d_r.rps_1{
	margin-top: 105px;
}
.item_wrap_s_d_r.rps_2{
	margin-top: 104px;
}
.item_wrap_s_d_r.rps_3{
	margin-top: 108px;
}
.post_soft_dev_rp p{
	font-size: 16px;
}
.post_soft_dev_rp p.pb{
	padding-bottom: 15px;
}
.mt{
	margin-top: 65px!important;
	
}
.soft_dev_logo.vm{
	margin-bottom:40px!important;
}
.vm img,
.mt img{
	vertical-align: middle;
}
.soft_dev_logo{
	text-align: left;
}
.soft_dev_logo .col{
	text-align: center;
	vertical-align: baseline!important;
}
.box_cont{
	width: 100%;
	height: 300px;
	background: #eee;
	margin-bottom: 20px;
}
.sof_dev_p_p_c p{
	text-align: left;
	font-size: 16px;
	padding-bottom: 15px;
}

.web_dev_box_i_i{
	margin-bottom: 70px;

}
.web_dev_box_i_i p{
	margin-top: 15px;
	padding: 0 15px;
	font-size: 16px;
}

.item_box_r_r{
	width: 200px;
	height: 200px;
	margin: 0 auto;
	border-radius: 50%;
	-webkit-box-shadow: 0px 0px 36px -15px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 0px 36px -15px rgba(0,0,0,0.35);
	box-shadow: 0px 0px 36px -15px rgba(0,0,0,0.35);
	background: #fff;
	z-index: 33;
}
.item_box_r_r h1{
	padding: 35px 0 0 0;
	font-size: 64px;
	margin: 0;
	color:#e86608;
}
.item_box_r_r > p > b{
	font-family: "HelveticaNeueBold", sans-serif;
}
.arrow{
  position: absolute;
  width: 60%;
  top: 100px;
  left: 56%;
  height: 3px;
  background: #e86608; 
  z-index: -1;
}
.arrow:before,
.arrow:after{
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid transparent; 
    border-right: 0;
}
.arrow:after{
    top: -4px;
    right: -25px;
    border-left-color: #e86608;  
    border-width:5px 0 5px 25px;
}
.arrow_b{
  position: absolute;
  width: 50%;
  top: 85%;
  left: 25%;
  height: 3px;
  background: #e86608; 
  z-index: -1;
  transform: rotate(90deg);
}
.arrow_b:before,
.arrow_b:after{
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid transparent; 
    border-right: 0;
}
.arrow_b:after{
    top: -3.5px;
	right: -14px;
    border-left-color: #e86608;  
    border-width: 5px 0 5px 25px;
}
.wrap_i_b_r_r{
	position: relative;
}
.wrap_img_w_d{
	text-align: center;
	margin-top: 100px; 
}
.wrap_img_w_d .col{
	display: inline-block;
	width: 49%;
	vertical-align: middle;
}
.wrap_img_w_d .col img{
	vertical-align: middle;
	margin-bottom: 15px;
}
.dnm{
	display: block;
}
.dbm{
	display: none;
}
.mdevh4{
	font-size: 32px;
}
@media only screen and (max-width: 992px) {
	
	.soft_dev_logo .col{
		width: 19%;
		max-width: 19%;
	}
	.soft_dev_logo.vm .col{
		width: 32.33%;
		max-width: 32.333%;
	}
	.web_dev_box_i_i{
		padding-bottom: 25px;
	}
	.arrow{
		width: 55%;
		left: 50%;
	}
	.wrap_img_w_d{
		margin-top: 85px;
	}
	.cd-fixed-bg.cd-bg-7{
		min-height: 240px !important;
		text-align: center;
	}
	.cd-fixed-bg.cd-bg-7 h4{
		text-align: center;
	}
	.b-services.mb_dev .col{
		max-width: 19%!important;
		width: 19%!important;
	}
}
.arrow_t{
	display: none;
	position: absolute;
	top: 95px;
	width: 50%;
	height: 3px;
	background: #e86608;
}
.arrow_l{
	display: none;
	position: absolute;
	top: 95px;
	bottom: -163px;
	width: 3px;
	background: #e86608;
}
@media only screen and (max-width: 764px) {
	.b-services.mb_dev .col{
		max-width: 29%!important;
		width: 29%!important;
	}
	.soft_dev_logo.vm{
		margin-bottom: 20px!important;
	}
	.soft_dev_logo.vm .col .s-icon{
		height: auto;
	}
	.mdevh4{
		font-size: 24px;
	}
	.form_footer{
		margin-top: 20px;
	}
	.cd-fixed-bg.cd-bg-7 h4{
		margin-top: 0!important;
		line-height: 1.2em!important;
		font-size: 26px!important;
	}
	.soft_dev_logo{
		margin: 40px auto 0px!important;
	}
	.mini_sl{
		min-height: 420px!important;
	}
	.soft_dev_logo.mt .col, .soft_dev_logo.vm .col{
		margin-bottom: 20px;
	}
	.item_realised_proj p{
		font-size: 14px;
	}
	.wrap_img_w_d{
		margin-top: 75px;
		margin-bottom: 60px;
	}
	.arow_d_n_m{
		display: none
	}
	.arrow_l,.arrow_t{
		display: block;
	}
	.arrow {
	    width: 26%;
	    left: 0;
	}
	.arrow_b {
	    width: 20%;
	    top: 100%;
	    left: 40%;
	}
	.mb_dev .col, .soft_dev_logo .col, .soft_dev_logo.vm .col{
		width: 30%;
		max-width: 30%;
	}
	.post_m_d_b{
		margin-top: 0;
	}
	.post_m_d_t p, .post_m_d_b p{
		padding-bottom: 15px;
	}
	.cd-fixed-bg.cd-bg-7{
		min-height: 360px !important;
	}
	.wrap_img_w_d .col {
		width: 25%;
	}
	.item_box_r_r h1{
		padding: 45px 0 0 0;
	}
	.web_dev_box_i_i p{
		margin-bottom: 50px;
	}
	.mb_dev_rp{
		padding: 30px 0;
	}
	.mb_dev_rp h4{
		font-size: 50px;
	}
	.mb_dev_rp .plr{
		margin-bottom: 30px;
	}
	.web_dev_box_i_i{
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.sd_cont_box_pb{
		padding-bottom: 60px;
	}
	.dnm{
		display: none;
	}
	.dbm{
		display: block;
	}


	.item_wrap_s_d{
		float: none;
		display: block;
		width: 100%;
	}
	.item_wrap_s_d_r{
		float: none;
		display: block;
		width: 100%;
	}
	.item_wrap_s_d span, .item_wrap_s_d_r .wrap_i_s_d, .item_wrap_s_d img{
		display: table-cell;
		vertical-align: middle;
	}
	.item_wrap_s_d_r span, .item_wrap_s_d_r .wrap_i_s_d_r, .item_wrap_s_d_r img{
		display: table-cell;
		vertical-align: middle;
	}
	.item_wrap_s_d span{
		font-size: 16px;
		line-height: 20px;
	}
	.item_wrap_s_d_r span{
		font-size: 16px;
		line-height: 20px;
	}
	.item_wrap_s_d .wrap_i_s_d{
		text-align: left;
		width: 100px;
	}
	.wrap_i_s_d_r{
		text-align: left;
		width: 100px;
	}
	.mask.ps_1{
		top: 30px;
	}
	.mask.ps_2{
		top: 120px;
	}
	.mask.ps_3{
		top: 210px;
	}
	.mask.ps_4{
		top: 300px;
	}
	.mask.ps_5{
		top: 390px;
	}
	.mask.ps_6{
		top: 480px;
	}
	.mask.ps_7{
		top: 570px;
	}
	.item_wrap_s_d_r.lps_1{
		margin-top: 0;
	}
	.item_wrap_s_d_r.lps_2{
		margin-top: 15px;
	}
	.item_wrap_s_d_r.lps_3{
		margin-top: 20px;
	}
	.item_wrap_s_d_r.lps_4{
		margin-top: 30px;
	}
	.item_wrap_s_d_r.rps_1{
		margin-top: 45px;
	}
	.item_wrap_s_d_r.rps_2{
		margin-top: 30px;
	}
	.item_wrap_s_d_r.rps_3{
		margin-top: 25px;
	}
	.post_soft_dev_rp p{
		font-size: 16px;
	}
	.soft_dev_logo.vm .col img{
		max-width: 100%;
	}
	.form_footer .cd-fixed-bg .btn{
		margin-top: 0!important;
	}
}
@media only screen and (max-width: 568px) {
	.b-services.mb_dev .col{
		max-width: 49%!important;
		width: 49%!important;
	}
	.soft_dev_logo.vm .col{
		width: 49%;
		max-width: 49%;
	}
	.soft_dev_logo.mt .col{
		max-width: 49%!important;
		width: 49%!important;
	}
	.soft_dev_logo.vm .col img{
		max-width: 100%;
	}
	.soft_dev_logo.vm .col:last-child, .soft_dev_logo.mt .col:last-child{
		max-width: 100%!important;
		width: 100%!important;
	}
	.soft_dev_logo.mt .s-icon{
		height: auto;
	}
	.arrow {
	    max-width: 8%;
		min-width: 10px;

	}
	.arrow:after {
	    top: -5.5px;
	    right: -15px;
	    border-left-color: #e86608;
	    border-width: 7px 0 7px 20px;
	}
	.arrow_b:after {
	    top: -6px;
		right: -11px;
	    border-left-color: #e86608;
	    border-width: 7px 0 7px 20px;
	}
	.wrap_img_w_d .col {
		width: 49%;
	}
	.vm img, .mt img{
		max-width: 100%;
	}
	.item_realised_proj .img_name_proj img{
		height: 100%;
	}
}
@media only screen and (max-width: 480px) {
	.wrap_i_s_d_r{
		width: 75px;
	}
	.item_wrap_s_d_r span{
		font-size: 12px;
	}
}
