.single_news_top_img {
    margin-top: 70px;
    position: relative;
    color: white;
    padding: 50px 0 20px;
}
.single_news_top_img .topic_title {
    font-size: 18px;
    line-height: 25px;
    padding: 8px 16px;
    border: 2px solid white;
    display: inline-block;
}
.single_news_top_img .title {
    font-size: 36px;
    line-height: 44px;
    margin: 20px 0;
}
.single_news_top_img .desc {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 15px;
}
.single_news_top_img .author_date {
    font-size: 17px;
    line-height: 21px;
}
.single_news_top_img .author_date .date {
    padding-right: 25px;
    color: #E5E5E5;
}

.flex_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.single_news_body_section {
    padding: 15px 0;
    color: #333;
}
.single_news_body_section .single_news_body {
    width: 75%;
}

.single_news_body_section .left_column {
    width: 25%;
    padding-left: 30px;
    font-size: 20px;
    line-height: 25px;
}
.single_news_body_section .single_news_body_img {
    width: 100%;
    padding: 20px 0 10px;
}
.single_news_body_section p {
    padding: 10px 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}
.single_news_body_section a {
    color: inherit;
}
.single_body_tags ul li {
    display: inline-block;
}
.single_body_tags {
    padding: 30px 0 60px;
}
.single_news_body_section .tag_single {
    font-weight: bold;
    text-transform: uppercase;
    padding: 4px 10px;
    margin-right: 5px;
    background: #e4e4e4;
    cursor: pointer;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
}
.single_news_comments .title {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 25px;
}
.comment_single {
    padding-bottom: 30px;
}
.comment_single .avatar {
    width: 66px;
}
.comment_single:last-child {
    padding-bottom: 10px;}
.comment_single .avatar img {
    width: 66px;
    height:66px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.comment_single {
    font-size: 20px;
    line-height: 25px;
}
.comment_single .desc {
    width: calc(100% - 66px);
    padding-left: 22px;
}
.comment_single .desc .name {
    font-weight: bold;
}
.comment_single .desc .date {
    color: #8C8C8C;
    padding: 7px 0 15px;
}
.comment_single .desc .text {
    padding-bottom: 10px;
}
.left_column .subscribe {
    padding: 15px;
    background: white;
    -webkit-box-shadow: 0 0 23px lightgray;
    -moz-box-shadow: 0 0 23px lightgray;
    box-shadow: 0 0 23px lightgray;
    margin-bottom: 20px;
}
.left_column .left_column_title {
    font-weight: bold;
    color: #333333;
    text-transform: uppercase;
    margin: 20px 0;
    display: block;
}
.left_column .left_column_title.margin {
    margin: 0 0 10px;
}
.left_column .subscribe p {
    font-size: 14px;
    line-height: 16px;
    padding: 0 0 10px;
}
.subscribe_single_news input,
.subscribe_single_news button {
    width: 100%;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    color: #8C8C8C;
    padding: 7px 15px;
    border: 1px solid lightgrey;
    display: block;
    margin-bottom: 10px;
    outline: none;
    font-size: 18px;
    line-height: 22px;
}
.subscribe_single_news button {
    color: orange;
    outline: none;
    background: none;
    border: 2px solid orange;
    cursor: pointer;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
}
.left_side_popular_preview {
    width: 100%;
    position: relative;
    margin: 7px 0;
    min-height: 150px;
}
.left_side_popular_preview .title {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    font-size: 18px;
    line-height: 23px;
    box-sizing: border-box;
    padding: 10px;
    font-weight: bold;
}
.left_side_popular_preview img {
    width: 100%;
}
.left_column .categories {
    margin: 40px 0 20px;
}
.left_column .categories ul li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #d4d4d4;
    padding: 11px 22px;
    background: #F5F5F5;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}
.left_column .categories ul li:hover {
    background: #dbdbdb;}
.left_column .categories ul li:first-child { border-top: 1px solid #d4d4d4; }
.left_column .categories ul {
    padding: 0 0 20px;}
.left_column .tags ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.left_column .tags ul li {
    width: 48%;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #ECECEC;
    padding: 7px 15px;
    cursor: pointer;
}
.left_column .tags ul li:hover {
    background: #DDDDDD;}
.left_column .left_column_banner {
    margin-top: 15px;}
.left_column .left_column_banner img {
    width: 100%;
}

.leave_comment {
    background: #efefef;
    padding: 20px 0 40px;
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
}
.leave_comment .title {
    margin: 10px 0;
}
.leave_comment input, .leave_comment textarea {
    font-size: 18px;
    line-height: 22px;
    color: #8C8C8C;
    font-weight: normal;
    
}
.leave_comment textarea {
    min-height: 187px;
}
.leave_comment form button {
    padding: 15px 100px;
    box-shadow: 0 5px 8px #b5b5b5;
    font-size: 20px;
    line-height: 25px;
}
.news_prev {
    display: inline-block;}

.more_like_this .more_like_this_title {
    font-weight: bold;
    margin: 50px 0 20px;
}
.more_like_this .news_prev {
    width: 32%;}

.author_date i {
    color: #9b9b9b;
    font-size: 16px;
    margin-right: 10px;
    vertical-align: baseline;
}

.single_news_body_section .single_news_body_img.mobile {
    position: absolute;
    left: 0;
}

@media screen and (max-width: 990px){
    .single_news_body_section .left_column {
        width: 100%;
        padding-left: 0;
    }
    .single_news_body_section .single_news_body {
        width: 100%;
    }

    .left_column .left_column_banner {
        display: none;}
}
@media screen and (max-width: 768px){
    .more_like_this .news_prev {
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .single_news_top_img .desc {
        display: none;
    }
    .single_news_top_img .author_date .date {
        display: block;
        line-height: 45px;
    }
    .more_like_this {
        display: none;}

}